<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetStatusesUrl" value="http://api.twitter.com/1/statuses/user_timeline.xml" />
    <add key="GetStatusesUserField" value="id" />
    <add key="GetStatusesUser" value="orlandosentinel, seaworld_parks" />
    <add key="GetStatusesSinceField" value="since_id" />
    <add key="GetStatusesCountField" value="count" />
    <add key="DataStatusesHistory" value="10" />

    <add key="DataConditionsHistory" value="4" />
  </appSettings>

  <!--
  If error: CREATE DATABASE permission denied in database 'master'.
  - Grant CREATE DATABASE permission to sandbox_username.
  - Security > Logins > sandbox_username > Server Roles > sysadmin
  -->
  <connectionStrings>
    <add name="ConnectionString_Sandbox" connectionString="server=localhost;User id=sandbox;password=sandbox;database=sandbox" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>